.navbar {
    background: white;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    transition: all 0.3s ease-in-out;
    font-family: sans-serif !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23cf1020' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
  
.navbar-toggler {
    border-color: transparent;
}

.navbar-toggler:hover {
    border-color: transparent;
    color: white;
}
  
.nav-link,
.dropdown-menu,
.dropdown-item {
    color: black;
    font-weight:500;

}

.nav-link:hover {
    color: #cf1020;
    text-decoration: none;
} 

a.nav-link {
    font-weight: 900;
}

h2 {
    font-family: Verdana;
    color: white
}

.btn {
    background-color: white;
    border-color:#cf1020;
    color:#cf1020;
    font-weight: 900;
}

.btn:hover {
    background-color: #cf1020;
    color: white;
}

.btn.search-btn {
    background-color: black;
    color:#cf1020;
    font-weight: 900;
}

.btn.search-btn:hover {
    background-color: #cf1020;
    color: white;
}

#hero {
    background-image: url(/assets/img/home-bg-light.png);
    background-size: cover;
    width: 100%;
    height: 100%;
    
}


.section-heading {
    color:black
}

#learnmore {
    text-decoration: none;
    color: #cf1020;
}

#learnmore:hover {
    color: white;
}




footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    color:#cf1020
}

/** Job Listings **/

.job-item .btn {
    background-color: #cf1020;
    color: white;
    border-color: #cf1020;
}

.job-item .btn:hover {
    background-color: white;
    color: #cf1020;
    border-color: #cf1020;
}

.job-item .btn  i {
    color: white
}

.job-item .btn:hover i {
    color: #cf1020 !important;
}

.job-item {
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: 2s;
}

.job-item:hover {
    border-color: rgba(0, 0, 0, .08);
    box-shadow: none;
}

a.post-job:hover{
    background-color: #cf1020 !important;
    color: white !important;
}

#jobTitle {
    text-decoration: none;
    color:#cf1020;
}

#jobTitle:hover {
    text-decoration: none;
    color: black;
}

#jobLocation {
    text-decoration: none;
    color: black;
}